<!-- {% load static %}
<a href="/">
	<img
		src="{% static 'images/campus_online_logo.png' %}"
		class="rounded-0"
		alt="campus_online_logo"
	/>
</a>
<form method="GET" action="{% url 'home' %}">
	<input type="text" name="q" placeholder="Search Rooms" />
</form>
{% if request.user.is_authenticated %}
<p>Hi, {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr /> -->

<nav class="navbar navbar-expand-lg text-dark bg-warning bg-opacity-25">
	<div class="container d-grid d-md-flex justify-content-md-around ">
		<a class="navbar-brand" href="/">
			<span class="h1 text-success">Campus Online</span>
			<!-- <img
				src="{% static 'images/campus_online_logo.png' %}"
				class="rounded-0"
				alt="campus_online_logo"
			/> -->
		</a>

		<form class="d-flex" role="search" method="GET" action="{% url 'home' %}">
			<input
				class="form-control me-5"
				type="search"
				name="q"
				placeholder="Search Rooms"
				aria-label="Search"
			/>
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>

		{% if request.user.is_authenticated %}
		<p class="fs-2 mx-5">{{request.user}}</p>
		<a class="nav-link mx-3" href="{% url 'logout' %}">Logout</a>
		{% else %}
		<a class="nav-link mx-3" href="{% url 'login' %}">Login</a>
		{% endif %}
	</div>
</nav>
