{% extends 'main.html' %} {% block content %}
<style>
	.home-container {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		margin: 10px 10px 10px 10px;
	}
</style>
<div class="home-container">
	<div>{% include 'base/topics_component.html' %}</div>

	<div>
		<p>Study Room</p>
		<h5>{{room_count}} rooms found.</h5>
		<a href="{% url 'create-room' %}">Create Room</a>
		{% include 'base/feed_component.html' %}
	</div>

	<div>{% include 'base/recent_activity_component.html' %}</div>
    
</div>
{% endblock content %}
