<!-- <h3>Browse Topics</h3>
<hr />
<div>
	<a href="{% url 'home' %}">All</a>
</div>
{% for topic in topics %}
<div>
	<a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
</div>
{% endfor %} -->
<div class="container">
	<p class="h3 text-center">Browse Topics</p>
	<ul class="list-group bg-body text-light bg-opacity-10">
		<li class="list-group-item  list-group-item-secondary bg-transparent d-flex justify-content-between align-items-left border-0">
			<a href="{% url 'home' %}">All</a>
			<span class="badge text-bg-secondary bg-opacity-50 text-dark rounded-pill">{{topics.count}}</span>
		</li>
		{% for topic in topics %}
		<li class="list-group-item list-group-item-secondary bg-transparent d-flex justify-content-between align-items-left border-0">
			<a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
			<span class="badge text-bg-secondary bg-opacity-50 text-dark rounded-pill">{{topic.room_set.all.count}}</span>
		</li>
		{% endfor %}
	</ul>
</div>
